{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'blog_list' %}">Blog Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>created</td>
    <td>last_updated</td>
    <td>title</td>
    <td>body</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.title }}</td>
    <td>{{ object.body }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'blog_create' %}">Create new Blog</a>
{% endblock %}