{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'blog_list' %}">Blog Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>title</td><td>{{ object.title }}</td></tr>
<tr><td>body</td><td>{{ object.body }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Blog</a>

{% endblock %}